body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
}

nav {
  margin: 0;
  padding: 10px;
  background: #eee;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

#content {
  max-width: 800px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}
  

