body {
  background: #989898;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e60012;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: rgba(230, 0, 18, 0.87);
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
  border-bottom: 1px solid rgba(230, 0, 18, 0.12);
}

nav {
  margin: 0 -24px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

nav ul {
  list-style-type: none;
  margin: none;
  padding: none;
  opacity: 0.56;
}

nav ul:hover {
  opacity: 0.87;
}

nav li {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 8px 0;
}

#content {
  position: relative;
  top: -14px;
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 14px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.87);
  padding: 0 24px;
  max-width: 800px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

thead th, tbody td {
  padding: 4px 16px;
}

thead tr {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

