body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e60012;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

nav {
  margin: 0 -24px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

nav ul {
  list-style-type: none;
  margin: none;
  padding: none;
  opacity: 0.56;
}

nav ul:hover {
  opacity: 0.87;
}

nav li {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 8px 0;
  opacity: 0.56;
}

#content {
  position: relative;
  top: -14px;
  font-family: "Georgia", serif;
  font-size: 15px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  padding: 0 24px;
  max-width: 800px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}
  

