<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <!-- Site CSS -->
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl}}/style.css">
  <title>{{ page.title }}</title>
</head>
<body style="background: #fafafa">
  
  {% include navigation.html %}
  
  <div class="container" style="background: #fff">
    <div class="row">
      <div class="col">
        <h1>{{ page.title }}</h1>
        {{ page.content }}
      </div>
    </div>
  </div>
  
  {% include navigation.html %}
  
  <footer class="container mt-4"><p class="text-center"><small>This guide was written by <a href="https://www.reddit.com/user/IroncladWyvern" rel="nofollow">IroncladWyvern</a> and edited by <a href="https://www.reddit.com/user/zachwlewis" rel="nofollow">zachwlewis</a>.</small></p></footer>
</body>
</html>
